.form-page {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  background: rgba(253, 193, 18, 0.8);
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.31);
  box-shadow: 10px 10px 50px 0px rgba(0,0,0,0.31);
}
