// Specific CSS for your home-page
.banner {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-225deg, rgba(0,101,200,0.2) 0%, rgba(0,36,61,0.1) 25%), asset-url('car-city-classic-1429748.jpg');
  background-size: cover;
}
.container {
  height: 470px;
  width: 100%;
  top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

// style="background-image: url
// (https://i.pinimg.com/originals/ee/a5/01/eea5017f16ad0c99a3849c2583d3f266.png);">

.card {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 100px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.scooter-info {
  font-weight: bold;
}
.about-us {
  background-color: white;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.divider {
  background-color: #f9f9f9;
  width: 100%;
  height: 30px;
}
.our-offers {
  background-color: #f9f9f9;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.element {
  display: none;
}

 //////////////////////////////////////////
.contenitor {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
}

.contenitor:hover .overlay {
  opacity: 0.8;
}

.text {
  color: black;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.navbar-landingpage {
  margin-top: -200px;
}

