
  <div class="banner">
    <div class="container">
      <div class="info">
        <h1>Scooterent!</h1>
        <p>Change your life, rent a scooter</p>
        <a class="btn btn-success" href="#">Filter!</a>
      </div>
    </div>
  </div>
    <div class="divider">
    </div>
    <div class="about-us">
      <p>Hello, something about us</p>
    </div>
    <div class="divider">
    </div>
    <div class="our-offers">
      <p>Some Cool scooters</p>
    </div>
    <div class="card-container col-md-12">
      <div class="row">
        <div class="col-md-4 contenitor">
    <img class="image" src="https://cdn3.volusion.com/3acnj.jebn4/v/vspfiles/photos/TT50SC-A1-2.jpg?1500283752" alt="">
      <div class="overlay">
        <div class="text">
        <p>A cool Scooter type</p>
        <p>5 stars</p>
        <p>Owner: Jeremy</p>
      </div>
      </div>
    </div>
        <div class="col-md-4 contenitor">
    <img class="image" src="https://cdn3.volusion.com/3acnj.jebn4/v/vspfiles/photos/TT50SC-A1-2.jpg?1500283752" alt="">
      <div class="overlay">
        <div class="text">
        <p>A cool Scooter type</p>
        <p>5 stars</p>
        <p>Owner: Jeremy</p>
      </div>
      </div>
    </div>
        <div class="col-md-4 contenitor">
    <img class="image" src="https://cdn3.volusion.com/3acnj.jebn4/v/vspfiles/photos/TT50SC-A1-2.jpg?1500283752" alt="">
      <div class="overlay">
        <div class="text">
        <p>A cool Scooter type</p>
        <p>5 stars</p>
        <p>Owner: Jeremy</p>
      </div>
      </div>
    </div>
      </div>
    </div>
    <div class="divider">
    </div>
    <div class="about-us">
      <p>Where we glorify our service</p>
    </div>
    <div class="divider">
    </div>
    <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
  </div>





