<body>
  <div class="banner" style="background-color: #fceecf;">
    <div class="container" style="background-color: #fff1d3;">
      <div class="info">
        <h1>Scooterent!</h1>
        <p>Change your life, and rent a scooter</p>
        <a class="btn btn-success" href="#">Filter!</a>
      </div>
    </div>
  </div>
</body>
