<!-- <h1>Scooters#show</h1>
<p>Find me in app/views/scooters/show.html.erb</p> -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @scooter.photo %>);">
</div>

<div class="show-container">

  <%= render partial: "partials/all_info", locals: {scooter: @scooter} %>

  <%= render partial: "partials/cost_form", locals: {reservation: @reservation, scooter: @scooter} %>

</div>
