.scooter-info {
  display: flex;
  // justify-content: space-betwee;
  margin-top: 50px;
  padding: 10px 25px;
  .scooter-info-header {
    text-align: right;
    color: lightgray;
  }
  .scooter-info-body {
    text-align: left;
    margin-left: 50px;
  }
}

.host-info {
  display: flex;
  padding: 10px;
  .host-info-header {
    text-align: right;
    color: lightgray;
  }
  .host-info-body {
    text-align: left;
    margin-left: 71px;
  }
}

.description-info {
  display: flex;
  padding: 10px;
  .description-info-header {
    text-align: right;
    color: lightgray;
  }
  .description-info-body {
    text-align: left;
    margin-left: 56px;
    flex-wrap: wrap;
  }
}
