.edit-button {
  position:absolute;
  top: 70px;
  right: 25px;
}

.edit-btn-text:hover {
  text-decoration: none;
  color: white;
}
.edit-btn-text {
  color:gray;
}

.btn-home{
  padding: 15px;
  background-color: white;
  color: gray;
  margin-left: 10px;
  border-radius: 3px;
  box-shadow: 0 3px 10px black;
 &:hover {
    color: black;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0 5px 15px black;
  }
}

.btn-search {
  height: 38px;
  width: 38px;
  border-radius: 3px;
}
